

.nota{
    margin-top: 80px;
 }
 
 p.contenido {
    text-align: justify;
}

p.descripcion {
    font-size: 12px;
	color: #545454;
	text-align: justify;
	}
	
.bordes{
    border-color: orange;
 }
 
 .subt{
 position: relative;
 padding:2px 10px;
 width=240;
 }
 
