<!DOCTYPE html>
<html lang="es">

	<head>
		<title>CETI COLOMOS</title>
		<!--  META TAGS -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<!--  ESTILOS  -->
        <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/carousel.css">
        <link rel="stylesheet" type="text/css" href="../../css/dropdown.css">
        <link rel="stylesheet" type="text/css" href="../../css/imagegallery.css">
		<link rel="stylesheet" type="text/css" href="../../css/principales.css">
        <!-- Bootstrap Dropdown Hover CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/bootstrap-dropdownhover.min.css" rel="stylesheet">
	</head>

	<body>
        <!-- CONTENIDO A PARTIR DE AQUI -->
        <main class="principal">
        <nav class="havbar navbar-inverse sub-navbar navbar-fixed-top" >
            <div class="container">
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav subnav navbar-nav navbar-center">
                        <li>
                            <div class="dropdown">
                            <button class="dropbtn">Conoce el CETI</button>
                            <div class="dropdown-content">
                            <a href="nuestroPlantel.html">Historia</a>
                            <a href="misionVision.html">Misión y Visión</a>
                            <a href="calendarioEscolar.html">Calendario Escolar</a>
                            <a href="planoPlantel.html">Plano del Plantel</a>
                            <a href="directorioInstitucional.html">Directorio Institucional</a>
                            <a href="#">Directorio Telefónico</a>
                            <a href="#">Red de Seguridad</a>
							<a href="#">Anuies</a>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                            <button class="dropbtn">Oferta Educativa</button>
                            <div class="dropdown-content">
                            <a href="#">Nivel Tecnólogo</a>
                            <a href="#">Nivel Ingeniería</a>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                            <button class="dropbtn">Aspirantes</button>
                            <div class="dropdown-content">
                            <a href="http://aspirantes.ceti.mx/">Trámite de Admisión</a>
                            <a href="#">Curso Propedéutico</a>
							<a href="#">Oferta Educativa</a>
                            <a href="http://aspirantes.ceti.mx/">Dictamen de Admisión</a>
                            </div>
                            </div>
                        </li>
						<li>
                            <div class="dropdown">
                            <button class="dropbtn">Alumnos</button>
                            <div class="dropdown-content">
                            <a href="#">Trámites Escolares</a>
                            <a href="#">Becas</a>
							<a href="#">Calendario Escolar</a>
                            <a href="http://ase1.ceti.mx/tecnologo/">ingreso al Sistema</a>
							<a href="http://archivos.ceti.mx/correo.alumnos">Correo Institucional</a>
							<a href="#">Reglamentos</a>
							<a href="http://bolsa.ceti.mx/">Bolsa de Trabajo</a>
							<a href='#'>Moddle-EDUCA</a>
                            </div>
                            </div>
                        </li>
						<li>
                            <div class="dropdown">
                            <button class="dropbtn">Egresados</button>
                            <div class="dropdown-content">
                            <a href="http://titulacion.ceti.mx/">Titulación</a>
                            <a href="#">Tr&aacute;mites Escolares</a>
							<a href="http://bolsa.ceti.mx/">Bolsa de Trabajo</a>
                            <a href="http://ase1.ceti.mx/tecnologo/">Ingreso al Sistema</a>
							<a href="#">Lista de egresados</a>
                            </div>
                            </div>
                        </li>
						
						<li>
                            <div class="dropdown">
                            <button class="dropbtn">Docente</button>
                            <div class="dropdown-content">
                            <a href="http://ase1.ceti.mx/tecnologo/">Ingreso al Sistema</a>
                            <a href="#">PIFAD-Formaci&oacute;n Docente</a>
							<a href="http://recursoshumanos.ceti.mx/">Recursos Humanos</a>
                            <a href="#">Reglamentos y Manuales</a>
							<a href="#">Procedimientos y formatos </a>
                            </div>
                            </div>
                        </li>
						
						<li>
                            <div class="dropdown">
                            <button class="dropbtn">Desarrollo Acad&eacute;mico</button>
                            <div class="dropdown-content">
                            <a href="#">GOE</a>
                            <a href="#">Tutor&iacute;as</a>
							<a href="#">Biblioteca</a>
                            <a href="#">Cultura Arte y Deporte</a>
							<a href="#">Servicio M&eacute;dico</a>
							<a href="#">Trabajo Social</a>
							<a href="#">Asesor&iacute;a y Regularizaci&oacute;n</a>
							<a href="#">Escuela Verde</a>
                            </div>
                            </div>
                        </li>
						

                    </ul>
                </div>
            </div>
        </nav> 
		
		
        <!--  CONTENIDO PÁGINA -->
         
		  <div class='container nota interior ficha'>
		    					<div class='col-md-12 col-sm-12 col-xs-12'>
					                <ol class='breadcrumb'>
					                    <li><a href='../../index.html'><i class='icon icon-home'></i></a></li>
					                    <li><a href='../../index.html'>Inicio</a></li>
					                    <li class='active'><a href='#'>Directorio Institucional</a></li>
					                </ol>
					            </div>
								<div class='row'><div class='col-sm-7 pull-left'>
					            		<h2 class='bottom-buffer'>Directorio Institucional</h2>

					            	</div>
					            	<div class='col-md-4 col-xs-12 pull-right '>
									    <!--imagen por encima del menu lateral-->
					            		<!--<img class='img img-responsive' src='img/articulos/ceti_up.jpg'/> -->
										
										<!--Menu lateral -->
										<!--<div class='border-box submenu_relacionados'>
									        <h4 class='bottom-buffer'>Submenú de la sección</h4>
									        <hr class='red sitios_relacionados'>
									       	<ul>	<li><a href="#">Misión</a><hr class="sub-hr"></li>	
											        <li><a href="#">Visión</a><hr class="sub-hr"></li>
													<li><a href="#">Historia del Ceti</a><hr class="sub-hr"></li>	
													<li><a href="#">Mensaje del Director</a><hr class="sub-hr">	</li>
													<li><a href="#" target="_blank">Metas Institucionales</a><hr class="sub-hr"></li>
													<li><a href="#" target="_blank">Análisis de las metas</a><hr class="sub-hr"></li>	
													</ul><h4 class='bottom-buffer'>Sitios relacionados</h4>
								        <hr class='red sitios_relacionados'><ul><li>		<a href="http://www.colomos.ceti.mx/">Plantel Colomos</a><hr class="sub-hr">	</li>	<li>		<a href="http://www.tonala.ceti.mx/">Plantel Tonalá</a><hr class="sub-hr">	</li>	<li>		<a href="http://coeston.ceti.mx/riosantiago">Plantel Río Santiago</a><hr class="sub-hr">	</li></ul>
									    </div>  -->



								        <!--<section class='border-box'>
								          <dl>
								  	      	<dt>Autor</dt>
								  	      	<dd>Centro de Enseñanza Técnica Industrial Plantel Colomos</dd>
								  	      	<dt>Fecha de publicación</dt>
								  	      	<dd>2017-10-20 18:40:15</dd>
								          </dl>
								        </section>-->
								    </div>

								    <div class='col-sm-7 pull-left'>
								    	<div class="article-body">
						                    <hr class="red">
						                    <p class="contenido">	</p>
											<div>			
											    <div class="table ">
													<table class="table table-condensed table-striped table-hover table-bordered">
														<thead>
															<tr>
																<th colspan="2" class="text-center alert-success"><h3>PLANTEL COLOMOS</h3></th>
															</tr>
														</thead>
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Dirección Plantel Colomos CETI</th>
															</tr>
														</thead>
														<tbody>
														    <tr>
																<td>Nombre</td>
															 	<td>Ing. Wilibaldo Ruíz Arévalo</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Encargado de Dirección Plantel Colomos CETI</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext. 271</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>direccion.plantel.col@ceti.mx</td>
														    </tr>
														</tbody>
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Subdirecci&oacute;n de Servicios</th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Mtro. Adrian Vargas Gónzalez</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Subdirector de Servicios</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext. 253</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>subdir.servicios.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Subdirección de Operación Académica </th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Ing.Edgar Rubén Ceja Lozano</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Encargado de la Subdirección de Operación Académica</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext. 242</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>subdir.academica.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Jefe del Departamento de Estudios Nivel Ingeniería</th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Ing. José Roberto Reyes Barón</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Encargado de la Subdirección de Operación Académica</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext. 242</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>nivel.ingenieria.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Departamento de Estudios Nivel Tecnólogo</th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Lic. Miriam Estefania Hernandez</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Jefa del Departamento de Estudios Nivel Tecnólogo</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext 266</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>nivel.tecnologo.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Departamento de Servicios de Apoyo Académico </th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Ing. Salvador Trinidad Pérez</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Jefe del Departamento de Servicios de Apoyo Académico </td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext 229</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>apoyo.academico.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														<thead>
															<tr>
																<th colspan="2" style="text-align: center;">Departamento de Servicios de Apoyo Administrativo</th>
															</tr>
														</thead>
														<tbody>
															 <tr>
																<td>Nombre</td>
															 	<td>Lic. Macarío Payan Díaz</td>
															</tr>
															<tr>
																<td>Cargo</td>
																<td>Jefe del Departamento de Servicios de Apoyo Administrativo</td>
															</tr>
															<tr>
																<td>Número Teléfono</td>
																<td>36413250 ext. 257</td>
														    </tr>
															<tr>
																<td>Domicilio</td>
															    <td>Calle Nueva Escocia # 1885, Col.Providencia 5ta Sección, C.P.44638, Guadalajara, Jalisco, México.</td>
														    </tr>
															<tr>
																<td>Direccion Electronica</td>
																<td>apoyo.administrativo.col@ceti.mx</td>
														    </tr>
														</tbody>
														
														
													</table>
												</div>
											</div>	
											<div class="">
												<div class="table ">
													<table class="table table-condensed table-striped table-hover table-bordered">
														<thead>
															<tr>
																<th colspan="4" class="text-center alert-success"><h3>Direcciones centrales</h3></th>
															</tr>
														</thead>
														<thead>
															<tr>
																<th style="text-align: center;">Dirección</th>
																<th style="text-align: center;">Responsable</th>
																<th style="text-align: center;">e-mail</th>
																<th style="text-align: center;">Extensión</th>
															</tr>
														</thead>
														<tbody>
														    <tr>
																<td>General</td>
																<td>Dr. Saúl Valdez Zepeda</td>
																<td>direccion.general@ceti.mx</td>
															  	<td>240</td>
						  								    </tr>
															<tr>
																<td>Administrativa</td>
																<td>Lic. Aída Violeta Hernández Castillo</td>
																<td>direccion.administrativa@ceti.mx</td>
																<td>243</td>
															</tr>
															<tr>
																<td>Desarrollo Institucional</td>
																<td>Mtra. Dellanira Liliana Plascencia Madrid</td>
																<td>direccion.desarrollo@ceti.mx</td>
																<td>232</td>
															</tr>
															<tr>
																<td>Académica</td>
																<td>Mtro. Rubén González de la Mora</td>
																<td>direccion.academica@ceti.mx</td>
																<td>252</td>
															</tr>
														</tbody>
													</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Direcciones Colomos</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Dirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Plantel Colomos</td>
																			<td>Ing. Wilibaldo Ruiz Arévalo</td>
																			<td>direccion.plantel.col@ceti.mx</td>
																		  	<td>271</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Direcciones Río Santiago</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Dirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Plantel Río Santiago</td>
																			<td>Arq. Alejandro Fernández Paniagua</td>
																			<td>direccion.plantel.rio@ceti.mx</td>
																		  	<td>3002-0800</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	
													<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Subdirecciones Centrales</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Subdirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Administración</td>
																			<td>Lic. Analy Fabiola Estrada Hernández</td>
																			<td>subdir.administracion@ceti.mx</td>
																		  	<td>245</td>
																		  </tr><tr>
																			<td>Docencia</td>
																			<td>Ing. David Ernesto Murillo Fajardo</td>
																			<td>subdir.docencia@ceti.mx</td>
																		  	<td>267</td>
																		  </tr><tr>
																			<td>Programación y Presupuestación</td>
																			<td>Lic. Álvaro Ramírez Ruiz</td>
																			<td>subdir.programacion@ceti.mx</td>
																		  	<td>216</td>
																		  </tr><tr>
																			<td>Finanzas</td>
																			<td>Lic. María de Jesús Sánchez Luján</td>
																			<td>subdir.finanzas@ceti.mx</td>
																		  	<td>406</td>
																		  </tr><tr>
																			<td>Investigación y Extensión</td>
																			<td>Mtro. Juan José Gómez Rosales</td>
																			<td>subdir.investigacion@ceti.mx</td>
																		  	<td>261, 310</td>
																		  </tr><tr>
																			<td>Planeación y Evaluación</td>
																			<td>Ing. Edith Susana Loera González</td>
																			<td>subdir.planeacion@ceti.mx</td>
																		  	<td>408</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Subdirecciones Colomos</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Subdirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Operación Académica</td>
																			<td>Ing.Edgar Rubén Ceja Lozano</td>
																			<td>subdir.academica.col@ceti.mx</td>
																		  	<td>242, 302</td>
																		  </tr><tr>
																			<td>Servicios</td>
																			<td>Mtro. Adrián Vargas González</td>
																			<td>subdir.servicios.col@ceti.mx</td>
																		  	<td>253</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Subdirecciones Tonalá</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Subdirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Operación Académica</td>
																			<td>Ing. Juan Pablo Aviña Macías</td>
																			<td>subdir.academica.tnl@ceti.mx</td>
																		  	<td>36815888, 71037113</td>
																		  </tr><tr>
																			<td>Servicios</td>
																			<td>Ing. Jaime Arreola Obregón</td>
																			<td>subdir.servicios.tnl@ceti.mx</td>
																		  	<td>127</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	
														<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Departamentos Centrales</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Subdirección</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Contabilidad</td>
																			<td>Lic. Miguel Alba Vázquez</td>
																			<td>contabilidad@ceti.mx</td>
																		  	<td>251</td>
																		  </tr><tr>
																			<td>Control Presupuestal</td>
																			<td>Lic. Claudia Karina Robles Godoy</td>
																			<td>control.presupuestal@ceti.mx</td>
																		  	<td>407</td>
																		  </tr><tr>
																			<td>Eval. y Certif. del Aprend.</td>
																			<td>Lic. Roxana González Dávila</td>
																			<td>titulacionycertificacion@ceti.mx</td>
																		  	<td>239, 411</td>
																		  </tr><tr>
																			<td>Normalización y Des. Curricular</td>
																			<td>Lic. Bertha Alicia Magdaleno Farías</td>
																			<td>desarrollo.curricular@ceti.mx</td>
																		  	<td>250</td>
																		  </tr><tr>
																			<td>Normat. y Fomento a la Investigación</td>
																			<td>L.C.P. Eduardo Arciniega Vázquez</td>
																			<td>fomento.investigacion@ceti.mx</td>
																		  	<td>230</td>
																		  </tr><tr>
																			<td>Recursos Humanos</td>
																			<td>Lic. Rosa Elena Montaño González</td>
																			<td>recursos.humanos@ceti.mx</td>
																		  	<td>237, 311</td>
																		  </tr><tr>
																			<td>Recursos Materiales</td>
																			<td>Lic. Esther Peña Flores</td>
																			<td>recursos.materiales@ceti.mx</td>
																		  	<td>219, 220, 405</td>
																		  </tr><tr>
																			<td>Vinculación</td>
																			<td>Mtra. Verónica Vázquez Murillo</td>
																			<td>vinculacion@ceti.mx</td>
																		  	<td>231, 419</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Departamentos Colomos</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Departamento</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Estudios Nivel Tecnólogo</td>
																			<td>Mtra. Miriam Estefania Hernández</td>
																			<td>nivel.tecnologo.col@ceti.mx</td>
																		  	<td>266, 303</td>
																		  </tr><tr>
																			<td>Estudios Nivel Licenciatura</td>
																			<td>Dr. José Roberto Reyes Barón</td>
																			<td>nivel.ingenieria.col@ceti.mx</td>
																		  	<td>226, 304</td>
																		  </tr><tr>
																			<td>Servicios de Apoyo Académico</td>
																			<td>Ing. Salvador Trinidad Pérez</td>
																			<td>apoyo.academico.col@ceti.mx</td>
																		  	<td>229, 501, 629</td>
																		  </tr><tr>
																			<td>Servicios de Apoyo Administrativo</td>
																			<td>Lic. Macario Payán Díaz</td>
																			<td>apoyo.administrativo.col@ceti.mx</td>
																		  	<td>256, 257</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	
														<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Divisiones Colomos</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">División</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Ciencias Administrativas Colomos</td>
																			<td>Ing. Juan Eduardo Celis Carrion</td>
																			<td>ciencias.administrativas@ceti.mx</td>
																		  	<td>227</td>
																		  </tr><tr>
																			<td>Ciencias Básicas</td>
																			<td>Lic. Eduardo Rubio Reynoso</td>
																			<td>ciencias.basicas@ceti.mx</td>
																		  	<td>247, 508</td>
																		  </tr><tr>
																			<td>Construcción</td>
																			<td>Ing. Emmanuel López Cortés</td>
																			<td>construccion@ceti.mx</td>
																		  	<td>215</td>
																		  </tr><tr>
																			<td>Informática</td>
																			<td> Lic. Carmen Angélica Núñez Moreno</td>
																			<td>informatica.col@ceti.mx</td>
																		  	<td>262, 619</td>
																		  </tr><tr>
																			<td>Electricidad</td>
																			<td>Ing. Alejandro Carvajal Vargas</td>
																			<td>electrotecnia@ceti.mx</td>
																		  	<td>217</td>
																		  </tr><tr>
																			<td>Electrónica y Comunicaciones</td>
																			<td>Dra. Ana Karen Margain Perez</td>
																			<td>electronica@ceti.mx</td>
																		  	<td>221</td>
																		  </tr><tr>
																			<td>Control Automático</td>
																			<td>Ing. Daniel Cervantes Ortiz</td>
																			<td>control.automatico@ceti.mx</td>
																		  	<td>225, 621</td>
																		  </tr><tr>
																			<td>Máquinas-Herramienta</td>
																			<td>Mtro. Jose Abraham Sandoval Martínez</td>
																			<td>manufactura@ceti.mx</td>
																		  	<td>209, 604</td>
																		  </tr><tr>
																			<td>Mecánica Automotriz</td>
																			<td>Ing. Edgar Eduardo Leal Martínez</td>
																			<td>mecanica.automotriz@ceti.mx</td>
																		  	<td>210</td>
																		  </tr><tr>
																			<td>Químico en Fármacos</td>
																			<td>Mtra. María de Jesús Díaz Morales</td>
																			<td>farmacos.col@ceti.mx</td>
																		  	<td>605</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Divisiones Tonalá</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">División</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Desarrollo Electrónico Tonalá</td>
																			<td>Ing. Guillermo Pérez Castillo</td>
																			<td>delectronico@ceti.mx</td>
																		  	<td>112</td>
																		  </tr><tr>
																			<td>Calidad Total y Prod. Tonalá</td>
																			<td>Arq. Raul González Villaseñor</td>
																			<td>calidad@ceti.mx</td>
																		  	<td>106</td>
																		  </tr><tr>
																			<td>Informática</td>
																			<td>Ing. René Alejandro Mercado Martínez</td>
																			<td>informatica.tnl@ceti.mx</td>
																		  	<td>105</td>
																		  </tr><tr>
																			<td>Tecnologías Químicas</td>
																			<td>María Teresa Ramírez Hernández</td>
																			<td>tquimicas.tnl@ceti.mx</td>
																		  	<td>114</td>
																		  </tr><tr>
																			<td>Ciencias Básicas Tonalá</td>
																			<td>Lic. Hugo Alejandro Mendoza Gutiérrez</td>
																			<td>basicas@ceti.mx</td>
																		  	<td>109</td>
																		  </tr><tr>
																			<td>Ciencias Administrativas Tonalá</td>
																			<td>Janet Esparza Gutiérrez</td>
																			<td>administrativas@ceti.mx</td>
																		  	<td>118</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Areas de Servicio Internas Colomos</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Area</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Unidad de Correspondencia</td>
																			<td>Mónica Isabel García González</td>
																			<td>unidad.correspondencia@ceti.mx</td>
																		  	<td>283</td>
																		  </tr><tr>
																			<td>Almacén de Electrónica (Control Automático)</td>
																			<td>Héctor Hugo Díaz Rivera</td>
																			<td>hectorhugodr@hotmail.com</td>
																		  	<td>606</td>
																		  </tr><tr>
																			<td>Almacén de Recursos Materiales</td>
																			<td>Omar Castellano Chavez</td>
																			<td>ogcastellanos@ceti.mx</td>
																		  	<td>212</td>
																		  </tr><tr>
																			<td>Almacén de Mantenimiento</td>
																			<td>Angel Sandoval Quirarte</td>
																			<td>asandoval@ceti.mx</td>
																		  	<td>622</td>
																		  </tr><tr>
																			<td>Apoyos Did. y Bibliográficos (Biblioteca)</td>
																			<td>Lic. Susana Hernández Arias</td>
																			<td>biblioteca@ceti.mx</td>
																		  	<td>223, 514</td>
																		  </tr><tr>
																			<td>Asistente Dirección Administrativa</td>
																			<td>Lic. Patricia Reynoso López</td>
																			<td>opreynoso@ceti.mx</td>
																		  	<td>249</td>
																		  </tr><tr>
																			<td>Bolsa de Trabajo</td>
																			<td>Lic. Marisol Estrada</td>
																			<td>bolsadetrabajo@ceti.mx</td>
																		  	<td>404</td>
																		  </tr><tr>
																			<td>Caseta de Vigilancia 1</td>
																			<td></td>
																			<td></td>
																		  	<td>201</td>
																		  </tr><tr>
																			<td>Caseta de Vigilancia 2</td>
																			<td></td>
																			<td></td>
																		  	<td>202</td>
																		  </tr><tr>
																			<td>Caseta de Vigilancia 3</td>
																			<td></td>
																			<td></td>
																		  	<td>203</td>
																		  </tr><tr>
																			<td>Comunicación Social</td>
																			<td>Lic. Karen Alejandra González Ahumada</td>
																			<td>comunicacion.social@ceti.mx</td>
																		  	<td>402</td>
																		  </tr><tr>
																			<td>Conmutador</td>
																			<td>C. Lucrecia Zepeda Núñez</td>
																			<td>lzepeda@ceti.mx</td>
																		  	<td>204</td>
																		  </tr><tr>
																			<td>Control de laboratorios (Informática)</td>
																			<td>C. Yasmin Vargas Cobos</td>
																			<td>ayvargas@ceti.mx</td>
																		  	<td>620</td>
																		  </tr><tr>
																			<td>Convenios</td>
																			<td>Lic. Dennise Nápoles Flores</td>
																			<td>convenios@ceti.mx</td>
																		  	<td>231</td>
																		  </tr><tr>
																			<td>Diseño (Dirección de Desarrollo Institucional)</td>
																			<td>Lic. Monserrat Martínez Chávez</td>
																			<td>mmartinezc@ceti.mx</td>
																		  	<td>409</td>
																		  </tr><tr>
																			<td>Diseño e Impresión (Plantel Colomos)</td>
																			<td>Lic. María Victoria Gallardo Enriquez</td>
																			<td>impresiones@ceti.mx</td>
																		  	<td>509</td>
																		  </tr><tr>
																			<td>Gimnasio</td>
																			<td>Lic. Víctor Josué Cabrera Huerta</td>
																			<td>cultura@ceti.mx</td>
																		  	<td>208</td>
																		  </tr><tr>
																			<td>Investigadores (cubículos)</td>
																			<td>Lic. Eduardo Arciniega Vázquez</td>
																			<td>fomento.investigacion@ceti.mx</td>
																		  	<td>269</td>
																		  </tr><tr>
																			<td>Laboratorio de Potencia (Electrotecnia)</td>
																			<td>Lic. José de Jesús González Franco</td>
																			<td>electrotecnia@ceti.mx</td>
																		  	<td>610</td>
																		  </tr><tr>
																			<td>Módulo de Información</td>
																			<td>Lic. Norma Guitron Prado</td>
																			<td>modulo.informacion@ceti.mx</td>
																		  	<td>318</td>
																		  </tr><tr>
																			<td>Nómina</td>
																			<td>Lic. Blanca Estela Trujillo López</td>
																			<td>btrujillo@ceti.mx</td>
																		  	<td>276</td>
																		  </tr><tr>
																			<td>Obra Pública</td>
																			<td>Lic. Nicolás García León</td>
																			<td>obra.publica@ceti.mx</td>
																		  	<td>313</td>
																		  </tr><tr>
																			<td>Recursos Humanos (Compensaciones)</td>
																			<td>Lic. Luis Daniel Correa Flores</td>
																			<td>lcorrea@ceti.mx</td>
																		  	<td>416</td>
																		  </tr><tr>
																			<td>Recursos Humanos (Reclutamiento y Capacitación)</td>
																			<td>Lic. Rosa Liliana Vázquez Obledo</td>
																			<td>bolsa.vacantes@ceti.mx</td>
																		  	<td>418</td>
																		  </tr><tr>
																			<td>Sala de maestros (Electrónica)</td>
																			<td>Ing. Raquel González Zepeda</td>
																			<td>electronica@ceti.mx</td>
																		  	<td>618</td>
																		  </tr><tr>
																			<td>Servicio Médico</td>
																			<td>Dra. Gabriela Jiménez Vallejo</td>
																			<td>servicio.medico@ceti.mx</td>
																		  	<td>264</td>
																		  </tr><tr>
																			<td>Soporte Técnico</td>
																			<td>Lic. Mario Alberto Soto Ramírez</td>
																			<td>soporte@ceti.mx</td>
																		  	<td>236</td>
																		  </tr><tr>
																			<td>Trabajo Social</td>
																			<td>Lic. Claudia Esther Lara Puente</td>
																			<td>trabajo.social@ceti.mx</td>
																		  	<td>503</td>
																		  </tr><tr>
																			<td>Titular Desarrollo y Mejora de la Gestión</td>
																			<td>Lic. Marlo Alberto González Marín</td>
																			<td>mejora.oic@ceti.mx</td>
																		  	<td>255</td>
																		  </tr><tr>
																			<td>Titular Auditoria Interna</td>
																			<td>Lic. Armando García Tello</td>
																			<td>auditoria.oic@ceti.mx</td>
																		  	<td>205</td>
																		  </tr><tr>
																			<td>Titular de Quejas y Responsabilidades</td>
																			<td>Lic. Leonel Antonio Vázquez Briseño</td>
																			<td>quejas.oic@ceti.mx</td>
																		  	<td>206</td>
																		  </tr><tr>
																			<td>Auxiliar de Quejas</td>
																			<td>Lic. Lucia Angeles Morales Chavez</td>
																			<td>quejasydenuncias@ceti.mx</td>
																		  	<td>507</td>
																		  </tr><tr>
																			<td>Asesor Jurídico</td>
																			<td>Lic. Héctor Barocio Figueroa</td>
																			<td>hectorbarocio@hotmail.com</td>
																		  	<td>263</td>
																		  </tr><tr>
																			<td>CAAU</td>
																			<td>Ing. Salvador Trinidad Pérez</td>
																			<td>caaucolomos@ceti.mx</td>
																		  	<td>512</td>
																		  </tr><tr>
																			<td>SUTCETI</td>
																			<td>Lic. Jorge Guillermo Zester Saucedo</td>
																			<td>sutceti@ceti.mx</td>
																		  	<td>233</td>
																		  </tr><tr>
																			<td>Cultura, Arte y Deporte</td>
																			<td>Lic. Víctor Josué Cabrera Huerta</td>
																			<td>cultura@ceti.mx</td>
																		  	<td>273</td>
																		  </tr><tr>
																			<td>Emprendimiento</td>
																			<td>Lic. Gabriela Guadalupe Meza García</td>
																			<td>emprendimiento@ceti.mx</td>
																		  	<td>517</td>
																		  </tr><tr>
																			<td>Gabinete de Orientación Educativa (GOE)</td>
																			<td>Lic. María del Carmen Jazo Jiménez</td>
																			<td>goe@ceti.mx</td>
																		  	<td>265, 518</td>
																		  </tr><tr>
																			<td>Academia de Idiomas</td>
																			<td>Lic. Alma Rubí Soto Paez</td>
																			<td>ing.idiomas.cb@ceti.mx</td>
																		  	<td>218</td>
																		  </tr><tr>
																			<td>OTIC</td>
																			<td>Mtra. María Guadalupe Ortega Tirado</td>
																			<td>otic@ceti.mx</td>
																		  	<td>238</td>
																		  </tr><tr>
																			<td>Propedéutico y Nivelación</td>
																			<td>Ing. Mary Sol Briseño Camberos</td>
																			<td>propedeutico@ceti.mx</td>
																		  	<td>275</td>
																		  </tr><tr>
																			<td>Tutorías recepción</td>
																			<td>Lic. Sonia Chavez</td>
																			<td>coordtutoriastgo@ceti.mx</td>
																		  	<td>241</td>
																		  </tr><tr>
																			<td>Cordinación de Asesorías y Regularización</td>
																			<td>Mtra. Ana María López Salgado</td>
																			<td>asesorias@ceti.mx</td>
																		  	<td>317, 520</td>
																		  </tr><tr>
																			<td>Tutorías Nivel Tecnólogo y Licenciatura</td>
																			<td>Lic. Aída Velázquez Castañeda</td>
																			<td>coordtutoriastgo@ceti.mx</td>
																		  	<td>519, 241</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Areas de Servicio Internas Tonalá</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Area</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Módulo de Información</td>
																			<td>C. Mónica Elizabeth Cervantes Gómez</td>
																			<td></td>
																		  	<td>115</td>
																		  </tr><tr>
																			<td>División de Ingeniería</td>
																			<td></td>
																			<td></td>
																		  	<td>110</td>
																		  </tr><tr>
																			<td>OTIC</td>
																			<td>Lic. Francisco Javier González Cibrián</td>
																			<td>otic.tnl@ceti.mx</td>
																		  	<td>124</td>
																		  </tr><tr>
																			<td>Fax</td>
																			<td>C. Mónica García Mora</td>
																			<td>mmora@ceti.mx</td>
																		  	<td>120</td>
																		  </tr><tr>
																			<td>Biblioteca</td>
																			<td>Lic. Luis Tomás Ornelas Aguirre</td>
																			<td>lornelas@tnl.ceti.mx</td>
																		  	<td>122</td>
																		  </tr><tr>
																			<td>Delegación Sindical </td>
																			<td>Tgo. Salvador Santiago de Anda</td>
																			<td>sdeanda@ceti.mx</td>
																		  	<td>108</td>
																		  </tr><tr>
																			<td>Enfermería</td>
																			<td>Dra. Cecilia Elizabeth Gonzalez Delgado</td>
																			<td></td>
																		  	<td>123</td>
																		  </tr><tr>
																			<td>Caja</td>
																			<td>C. Adriana Gabriela Rodríguez Yera</td>
																			<td></td>
																		  	<td>128</td>
																		  </tr><tr>
																			<td>Gabinete de Orientación Educativa</td>
																			<td>Ing. Adriana Estela Bermudez Cota</td>
																			<td>bermudez@ceti.mx</td>
																		  	<td>119</td>
																		  </tr><tr>
																			<td>Sala de Maestros de Informática</td>
																			<td></td>
																			<td></td>
																		  	<td>117</td>
																		  </tr><tr>
																			<td>Almacén</td>
																			<td></td>
																			<td></td>
																		  	<td>126</td>
																		  </tr><tr>
																			<td>Caseta de Vigilancia</td>
																			<td></td>
																			<td></td>
																		  	<td>111</td>
																		  </tr><tr>
																			<td>Recursos Humanos</td>
																			<td></td>
																			<td></td>
																		  	<td>107</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>	<div class="">
														<div class="table ">
															<table class="table table-condensed table-striped table-hover table-bordered">
																<thead>
																	<tr>
																		<th colspan="4" class="text-center alert-success"><h3>Órgano Interno de Control</h3></th>
																	</tr>
																</thead>
																<thead>
																	<tr>
																		<th style="text-align: center;">Área</th>
																		<th style="text-align: center;">Responsable</th>
																		<th style="text-align: center;">e-mail</th>
																		<th style="text-align: center;">Extensión</th>
																	</tr>
																</thead>
																<tbody><tr>
																			<td>Titular del Órgano Interno de Control</td>
																			<td>Lic. Manuel Rodríguez Murillo</td>
																			<td>oic@ceti.mx</td>
																		  	<td>207, 254</td>
																		  </tr><tr>
																			<td>Auditoría Interna</td>
																			<td>LCP. Armando García Tello</td>
																			<td>auditoria.oic@ceti.mx</td>
																		  	<td>205</td>
																		  </tr><tr>
																			<td>Responsabilidades y Quejas</td>
																			<td>Lic. Leonel Antonio Vázquez Briseño</td>
																			<td>quejas.oic@ceti.mx</td>
																		  	<td>206</td>
																		  </tr><tr>
																			<td>Desarrollo y Mejora de la Gestión</td>
																			<td>Lic. Marlo Alberto González Marin</td>
																			<td>mejora.oic@ceti.mx</td>
																		  	<td>255</td>
																		  </tr></tbody>
															</table>
														</div>
													</div>  <p></p>
					</div>
										
										
								    </div>
								 <div class='col-sm-7 pull-left'>
								    	<div class='article-body'>
								    		<!--<div class='sociales'>
								    			<div class='fb-share-button' data-href='http://ceti.mx/noticia.php?id=48' data-layout='button_count' data-size='large' data-mobile-iframe='true'><a class='fb-xfbml-parse-ignore' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fceti.mx%2Fnoticia.php%3Fid%3D48&amp;src=sdkpreparse'>Compartir</a></div>
								    		</div>
								    		<div class='sociales'>
								    			<a href='https://twitter.com/share' class='twitter-share-button' data-size='large' data-show-count='true'>Tweet</a><script async src='//platform.twitter.com/widgets.js' charset='utf-8'></script>
								    		</div> -->
								    		<hr class=''>
								    		<p class='ultima_actualizacion'>Ultima actualización: 2017-10-17 19:49:10</p>
								    	</div>
								    </div>
		    					</div>

	    					</div>
		<br>
        <br>
        <br>
        </main>

        <!-- FINAL CONTENIDO -->
		<script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
        <script src="js/jquery.js"></script>

        <!-- Dropdown -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Bootstrap Dropdown Hover JS -->
        <script src="js/bootstrap-dropdownhover.min.js"></script>
	</body>
</html>