
/* Boxes
------------------------------------------------ */

/* List style */
ul.thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  }




/* Control box
------------------------------------------------ */
.control-box {
    width: 100%;
    }
    .carousel-control{
        background: #666 !important;
        border: 1px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
       /* padding: 4px 10px;*/
        margin: 70px 20px 0;
        height: 30px;
        width: 30px;
        top: 50%;
        }

/* Items
------------------------------------------------ */

.thumbnail
{
    min-height: 220px;
    max-height: 220px;


}
.item li
{
    min-width: 300px;
    max-width: 300px;
    background-color: #ECECEC;
    border-radius: 5px;
    margin-right: 25px;
    margin-left: 55px;
    padding: 10px;

}
/* Item mensaje
----------------------------------------------- */

.caption-box
{
    background-color: #fff;
    padding: 14px;
}

/* Mobile only
------------------------------------------------ */
@media screen and (max-width: 1200px) {
    .item li
        {
            min-width: 250px;
            max-width: 250px;
            background-color: #ECECEC;
            border-radius: 5px;
            margin-right: 35px;
            margin-left: 35px;
            padding: 10px;

        }

        .control-box {
    width: 10%;
    }
    .carousel-control{
        background: #666 !important;
        border: 1px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;

        height: 30px;
        width: 30px;
        }
}

@media screen and (max-width: 991px) {
    .item li
        {
            min-width: 180px;
            max-width: 180px;
            background-color: #ECECEC;
            border-radius: 5px;
            margin-right: 35px;
            margin-left: 35px;
            padding: 10px;

        }

       .btn-mini
       {
        font-size: 80%;
       }
}

@media screen and (max-width: 991px) {
    .item li
    {
        display: none;
    }
    .notas,.control-box,.slider_articles
    {
        display: none;
    }
}