/* -- Scroll down -- */


.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  top:90%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 100%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 10 #000;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '▼';
  width: 0px;
  height: 0px;
  background: #000;
  margin-left: -9px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

/* -- fin scroll down -- */

div.relacionadosimg
{
    display: inline-block;
    margin-bottom: .6em;
    width: 200px;
    height: 103px;
    position: relative;
}
.submenu_relacionados ul >li
{
	list-style: none;
	margin: .3em;

}

.submenu_relacionados ul > li > a
{
	text-decoration: none;
}
.submenu_relacionados ul > li > a:hover
{
	color: #1b5dab;
	text-decoration: none;
}
.pull-right img
{
	width: 100%;
}
.article-body > p
{
	text-align: justify !important;
}
.bBeca
{
	border: 1px solid #ccc;
}
.bCargar
{
	list-style-type:  none;
}
.btn-red
{
	background-color: #D0021B;
	color: #fff;
	text-decoration: none;
}
.btn-red:hover
{
	background-color: #D0021B;
	color: #fff;
}
.btn-red:active
{
	background-color: #D0021B;
	color: #fff;
}
.directorio
{
	margin-top: 96px;
}
.wrapper
{
    text-align: center;

}

.carousel-indicators > li, .carousel-indicators > li.active {
    width:  25px;
    height: 25px;
    border-radius: 0;
    border: solid 1px #fff;
    background: #FFFFFF;
    color: #D0021B;
    text-indent: 0;
}
.carousel-indicators > li.active {
    background: #D0021B;
    border: solid 1px #D0021B;
    color: #FFFFFF;
}
.carousel-inner > .item > a > img {

  min-width: 100%;
  height: 80vh;
}
.caption-box
{
	min-height: 190px;
}
.contenedor
{
	background-color: #ECECEC;
	width: 33%;
}
/*Becas */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 284px;
	height: 120px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	border-radius: 6px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: #dedede;
	border-radius: 6px;
}
.btn-empresa
{
	width: 267.5px;
	height: 73.43333px;

}
.wordwrap {
   /*white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
.imagen
{
	margin: 1em 0;
}
.noticiaTitulo
{
	max-height: 222px;
	min-height: 222px;
}
.noticiaDesc
{
	max-height: 222px;
	min-height: 222px;
}
.enlace
{
	max-height: 100px;
	min-height: 100px;
}
hr.gobierno
{
	margin: 2px !important;

}
p.contenido
{
	text-align: justify !important;
}
#container
{
	width: 80%;margin: auto auto;
}
.news_list
{
	list-style: none;
	margin-top: 111px;
}
.l50
{
	font-size: 50%;
}
.loadbutton
{
	margin-top: 111px;
	text-align: center;
}
.mapa
{
	width: 100%;
	min-height: 50vh;
}
.descripcion
{
	color: #545454;
	font-size: 18px;
	font-weight: 300;
	text-align: justify;

}

.interior h3, .pagina h3 {
    font-weight: 300;
    line-height: 141%;
    margin-bottom: 52px !important;
}
h3.galeria
{
	margin: 0 !important;
}
.navbar-collapse
{
  text-align:center;
}
.navbar-nav
{
    display:inline-block;
    float:none;
}
.noticia
{
	margin-top: 138px;
}
.noticiaGaleria
{
	width: 100%;
	height: 134px;
}
.letra-50
{
	font-size: 50%;
}
.principal
{
	font-family: 'Soberana Sans';
}
.post h4
{
	font-size: 1em;
}
.relacionados
{

	margin-right: 3em;
	margin-bottom: 2em;
}
.revista
{
	height: 100%;
	width: 100%;
}
.breadcrumb a
{
	text-decoration: none;
}
ul > li > a.sombrear:hover
{
	background-color: #393C3E !important;
}
.small-link {
    font-size: 0.85em;
    text-decoration: underline !important;
    color: #1122cc !important;
}
.sub-navbar
{
	margin-top: 46px;
	width: 100%;
	z-index: 1029;
}
.sub-sub-navbar
{
	background-color: #000000;
	margin-top: 92px;
	width: 100%;
	z-index: 1028;
}
.slider_articles {
    background-color: #f8f8f8;
    padding: 65px 0;
}
.list-article {
    margin-top: 40px;
}
.bottom-buffer {
    margin-bottom: 64px;
}
.text-slider
{
	text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000; background-color: rgba(25, 25, 25, .5);;
}


li.noticia
{
	min-height: 510px !important;
	max-height: 510px !important;
    min-width: 300px;
    max-width: 300px;
    background-color: #ECECEC;
    border-radius: 5px;
    margin-right: 25px;
    margin-left: 55px;
    padding: 10px;

}
.noticia > div.caption-box
{
	min-height: 240px !important;
	max-height: 240px !important;
}
.sociales
{
	padding: 1em;
}
hr.sitios_relacionados
{
	top:-2em;
	margin: 0 !important;
}
.submenu_relacionados
{
	font-size: 1em !important;
}
hr.sub-hr
{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #aaa;

}
.titulo
{
	font-size: 18px;
	font-weight: 600;
	color: #1122CC;

}
.top-buffer {
    margin-top: 64px;
}
.article-body > p.ultima_actualizacion {
   font-size: 80%;
}

.warning-nav
{
	border: none;
	margin-bottom: 0px;
	font-size: 16px;
	background-color: #fcf8e3 !important;
	padding: 10px;
	border-bottom: 1px solid #8a6d3b;
	font-size: 1em;
	text-align: center;
	color: #8a6d3b;
}

@media screen and (max-width: 991px) {
    .text-slider
    {
    	font-size: 70%;
    }

}


/* -- noticias -- */

ul.grid {
    font-size: 0;

    margin-top: 10px;
    padding: 0;

    list-style: none;
}

ul.grid li {
    display: inline-block;

    margin: 0;

    transition: all .2s ease;
    vertical-align: top;

    border: 10px solid #fff;
    background: #fff;
}

@media(min-width : 0) {
    ul.grid li {
        width: 100%;
    }
}

@media(min-width : 768px) {
    ul.grid li {
        width: 50%;
    }
}

@media(min-width : 992px) {
    ul.grid li {
        width: 33%;
    }
}

@media(min-width : 1200px) {
    ul.grid li {
        width: 33%;
    }
}

ul.grid li article.post {
    position: relative;
}

ul.grid li article.post a,
ul.grid li article.post a:link,
ul.grid li article.post a:visited,
ul.grid li article.post a:focus,
ul.grid li article.post a:hover,
ul.grid li article.post a:active {
    text-decoration: none;
}

ul.grid li article.post a span.feature,
ul.grid li article.post a:link span.feature,
ul.grid li article.post a:visited span.feature,
ul.grid li article.post a:focus span.feature,
ul.grid li article.post a:hover span.feature,
ul.grid li article.post a:active span.feature
{
    display: block;
    width: 100%;
    height: 170px;
    transition: all .2s ease;
    opacity: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

ul.grid li article.post a:hover span.feature
{
    opacity: .8;
}



ul.grid li article.post .text
{
    height: 100px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-right-radius: 5px;
}

ul.grid li article.post .text h2
{

    font-size: 19px;
    line-height: 23px;
    overflow: hidden;
    height: 45px;
    margin: 0;
    color: #444;
}





